
@{
    ViewBag.Title = "Comment";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@model List<CodeFirst1.ViewModels.commentModel>
<body>
    <h2>Quản lý bình luận của khách hàng</h2>
    <table class="table table-bordered">
        <tr>
            <th>
                Mã
            </th>
            <th>
                Họ Tên
            </th>
            <th>
               SĐT
            </th>
            <th>
                Thời Gian
            </th>
            <th>
                Nội Dung
            </th>

            <th>
               Tên Sản Phẩm
            </th>
            <th>Chức năng</th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Phone
            </td>
            <td>
                @item.Time
            </td>
            <td>
                @item.Contains
            </td>
            <td>
                @item.NameProducts
            </td>
            <td>
                @Html.ActionLink("Xóa", "DeleteComment", new { id = item.Id })
            </td>
        </tr>
        }

    </table>
</body>

