@model List<CodeFirst1.ViewModels.ProductViewModel>


@if (Model.Count() <= 0)
{
    <div class="section-title-3 text-center mb-50">
        <h2>Sản phẩm liên quan </h2>
    </div>
    <div>
        <p>Không tìm thấy sản phẩm liên quan nào</p>
    </div>
}
else
{

    <div class="section-title-3 text-center mb-50">
        <h2>Tìm thấy @Model.Count() Sản phẩm liên quan </h2>
    </div>
    <div class="related-product-active owl-carousel">
        @foreach (var item in Model)
        {

            <div class="product-wrapper">
                <div class="product-img">
                    <a href="#">
                        <img src="~/image/sanpham2.jpg" alt="" style="width: 370px;height: 288px;">
                    </a>

                    <div class="product-action">
                        <a class="animate-left" title="Wishlist" href="#">
                            <i class="pe-7s-like"></i>
                        </a>
                        <a class="animate-top" title="Add To Cart" href="#">
                            <i class="pe-7s-cart"></i>
                        </a>
                        <a class="animate-right" title="Go to Detail" href="#" onclick="location.href='@Url.Action("Detail", "Home", new { id = item.Id})'">
                            <i class="ti-shift-right"></i>
                        </a>
                    </div>
                </div>
                <div class="product-content">
                    <h4><a href="#">@item.Name</a></h4>
                    @if (item.IsKM == true)
                    {
                        <span>@String.Format("{0:0,0}", item.PriceKM) VNĐ</span> <br />
                        <strike style="color:#b96a6a;">@item.PriceOut </strike>
                    }
                    else
                    {
                        <span> @item.PriceOut </span>
                    }
                </div>
            </div>
        }
    </div>

        }



  